version: 2.1

orbs:
  yarn: artsy/yarn@6.2.0
  auto: artsy/auto@2.1.0

workflows:
  build_and_verify:
    jobs:
      - yarn/workflow-queue
      - yarn/update-cache:
          requires:
            - yarn/workflow-queue
      - yarn/lint:
          requires:
            - yarn/workflow-queue
      - yarn/type-check:
          requires:
            - yarn/workflow-queue
      - yarn/test:
          requires:
            - yarn/workflow-queue
      - auto/publish-canary:
          context: npm-deploy
          filters:
            branches:
              ignore: main
          requires:
            - yarn/test
            - yarn/lint
            - yarn/type-check
            - yarn/update-cache
      - auto/publish:
          context: npm-deploy
          filters:
            branches:
              only: main
          requires:
            - yarn/test
            - yarn/lint
            - yarn/type-check
            - yarn/update-cache
